/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 3rem 0;
    margin-top: 1.3rem;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


.pics {
    display: flex;
    margin-top: 40px;
}

img {
    margin-bottom: 15px;
}

h1 {
    text-align: center;

    font-size: 38px;
}

h2 {
    font-size: 26px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 991px) {
    img {
        width: 100px;
        height: 100px;
    }
    h1 {
        font-size: 33px;
    }
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    img {
        width: 80px;
        height: 80px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 17px;
    }
}

@media (max-width: 350px) {
    .pics {
        display: block;
    }

    img {
        width: 100px;
        height: 100px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
}
